body,
html {
    font-family: 'IBM Plex Sans', sans-serif;  /* Default font */
}

.admin-portal-title {
    color: rgb(211, 211, 211);
}

section>.container{
    display: block;
    width: 70%;
    margin: auto;
}


section {
    min-height: 450px;
}


#add-new-food,
.edit-btn,
.delete-btn {
    box-shadow: none;
    padding: 0.6rem 0.8rem;
    font: inherit;
    width: 42%;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    color: rgb(37, 37, 37);
    font-weight: 400;
    font-size: 0.8rem;
    outline: none;
    margin: 3px;
    border: 1px solid rgb(141, 141, 141);
}

#add-new-food {
    box-shadow: 0 0 5px 2px rgb(197, 197, 197);
    width: 85px;
    height: 40px;
}

#add-new-food:hover,
.edit-btn:hover,
.delete-btn:hover{
    border: 2px solid rgb(48, 48, 48);
    font-weight: bold;
}


.metadata {
    color: grey;
    font-weight: bolder;
    font-size: 0.7rem;
}

ul#food-items {
    width: 80%;
    margin: auto;
}

ol>li {
    transition: all .3s;
}

ol>li:hover {
    color: black;
    padding: 1.3rem;
    opacity: 1;
}


.hidden-mode {
    display: none;
}

div#editing-modal {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px 2px rgb(61, 61, 61);
    width: 50%;
    margin: auto;
    padding: 3rem;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all 0.3s;
}

div#editing-modal:hover {
    box-shadow: 0 0 5px 3px rgb(19, 19, 19);
}


input.new-modal-input {
    outline: none;
    font-family: 'IBM Plex Sans', sans-serif;
    border: none;
    display: block;
    padding: 1rem;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 3%;
    box-shadow: 0 0 1px 1px rgb(204, 204, 204);
    transition: all .3s;
}

input.new-modal-input:hover,
input.new-modal-input:focus {
    font-family: 'IBM Plex Sans', sans-serif;
    border: 1px dotted rgba(0, 0, 0, 0.63);
    box-shadow: none;
}

#save-new-btn,
#update-btn,
#cancel-btn {
    width: 20%;
    display: inline-block;
    margin: 5px;    
    background-color: rgb(255, 208, 0);
    box-shadow: 0 0 1px 1px rgb(0, 0, 0);
    transition: all .3s;
}

#cancel-btn {
    background-color: rgb(255, 51, 0);
    margin-left: 5px;
}

#save-new-btn:hover,
#update-btn:hover,
#cancel-btn:hover {
    background-color: rgb(21, 255, 0);
    border: 1px solid rgb(0, 0, 0);
}


#confirm-order-btn {
    display: none;
}


.delete-order {
    color: red;
}

.mark-complete {
    color: #39aa56;
}
.new-order {
    border-left: 10px solid rgb(0, 0, 0);
}

.processing-order {
    border-left: 10px solid rgb(255, 208, 0);
    font-weight: bold;
}

.complete-order {
    color: #39aa56;
    border-left: 10px solid #39aa56;
    font-weight: bold;
}

.cancelled-order {
    color: rgb(190, 190, 190);
    border-left: 10px solid red;
    font-weight: bold;
}


.cancelled-order>div>span:nth-of-type(2),
.cancelled-order>div>span:nth-of-type(3) {
    text-decoration: line-through;
}

.deleted-order {
    opacity: 0.5;
    border: none;
    background-color: rgb(221, 221, 221);
    color: rgb(175, 175, 175);
}


div#admin-list>h1 {
    margin: 1em auto;
}

ol#in-cart {
    list-style: none;
    padding: 0;
}

.order-rxn-btns {
    margin: 1em auto;
    width: 30%;
    border: 1px dashed lightgrey;
    text-align: center;
    background-color: none;
    transition: all .3s;
}

.order-rxn-btns:hover {
    width: 32%;
    border: 2px dashed rgb(7, 7, 7);
}
.order-reactions {
    padding: .5em;
    border-radius: 1%;
    text-align: center;
    background-color: white;
    margin: 0 2em;
    font-size: 2em;
    outline: none;
    border: none;
    transition: all .3s;
}

.order-reactions:hover {
    padding: .8em;
    margin: 0 2em;
    font-size: 3em;
    color: rgb(243, 208, 11);
}

.ordered-item {
    list-style-type: none;
    margin-bottom: 2em;
    font-size: 10px;
    box-shadow: 0 0 2px 2px rgb(189, 189, 189);
}


.the-order {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.timestamp {
    text-align: right;
}
.timestamp,
.meta-info,
.order-status {
    font-weight: bolder;
    color: rgba(4, 22, 0, 0.507);
}

.ordered-by {
    margin-left: 15px;
}

.order-info,
.order-total {
    font-weight: bolder;
    text-align: center;
}

.adm-login-link {
    color: blue;
}

div#menu-header {
    margin-top: 1em;
}

#add-new-btn,
.close-btn {
    font: inherit;
    padding: 0.3rem;
    width: 15%;
    height: 50px;
    background: none;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 10px;
    transition: all .3s;
}

#add-new-btn:hover,
.close-btn:hover {
    font: inherit;
    padding: 0.6rem;
    width: 16%;
    font-weight: bold;
    border: 2.2px solid rgb(0, 0, 0);
}


.close-btn {
    width: 40%;
}

.close-btn:hover {
    width: 40%;
}
