body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;  /* Default font */
    font-size: 14px;
    line-height: 1.5;
    color: rgb(34, 34, 34);
    box-sizing: border-box;
}

#menu-cont,
#order-cont {
    min-height: 650px;
}

.container {
    text-align: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header, footer {
    font-weight: 700;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1.3rem;
}

header>.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: start;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

footer>.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

a {
    text-decoration: none;
    color: rgb(73, 72, 72);
    padding: 0.6rem 0;
    transition: all .3s;
    -moz-transition: all .3s;
}

a:hover, a:active {
    color: rgb(51, 255, 0);
}

#login-link, 
#register-link {
    color: rgb(0, 68, 255);
    transition: all .3s;
    -moz-transition: all .3s;
}

#register-link, #history-link {
    color: white;
    background-color: rgb(16, 135, 247);
}   

#login-link:hover, 
#login-link:active,  
#register-link:hover,
#register-link:active {
    color: white;
    background-color: rgb(43, 255, 0);
    border: 2px solid black;

}


.food-items {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: auto;
}


.food-item{
    margin: 1.2em;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all .3s;
    -moz-transition: all .3s;
}

.food-item:hover {
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}

.item-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(51, 207, 3);
}

figure {
    width: 95%;
    text-align: center;
    margin: auto;
}

figure>img {
    width: 180px;
    height: 180px;
}

footer {
    color: rgb(179, 179, 179);
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
    grid-template-columns: 3fr 1fr 1fr;
}

.msg-paragraph {
    width: 40%;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 9rem 3rem;
    margin: 5rem auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.p-logins-warning {
    padding: 0.7rem;
    color: red;
}


.food-id {
    color: rgb(187, 187, 187);
    font-weight: 700;
    font-size: 10px;
}


.adm-login-link {
    color: blue;
}

.wrong-input {
    color: #D8000C;
    background-color: #FFBABA;
}