<!-- This is the web app's homepage -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/main_css.css">
    <link rel="stylesheet" href="../static/css/orders.css">
    <link rel="stylesheet" href="../static/css/admin_portal.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>FFF : Admin Portal</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="adm_menu.html">Fast Food. Fast.</a>
            <nav>
                <a id="orders-link" href="orders.html">View Orders</a>
                <a id="logout-link" href="/">Logout</a>
                <p class="admin-portal-title">[ Admin Portal ]</p>
            </nav>
        </div>
    </header>
    <section id="menu-cont" class="container">
        <div id="menu-div">
            <div id="menu-header">
                <h1>Menu</h1>
                <button id="add-new-btn">Add Food Item</button>
            </div>
            
            <ul class="food-items" id="food-items">
                <!-- Items added dynamically -->
            </ul>
        </div>
    </section>
    <div class="hidden-mode" id="editing-modal">
        <p>Edit food item attributes</p>
        <input required class="new-modal-input" placeholder="Name of food item" maxlength="35" type="text" id="new-item-name">
        <input required class="new-modal-input" placeholder="0" min="1" type="number" id="new-item-price">
        
        <label class="new-modal-label" for="food-item-img">Image  
            <select id="new-item-img">
                <option value="">Select an image name</option>
                <option value="Generic image">Generic image</option>
                <option value="Pizza">Pizza</option>
                <option value="Burger">Burger</option>
                <option value="Fish">Fish</option>
                <option value="Soup">Soup</option>
                <option value="Bhajia">Bhajia</option>
                <option value="French fries">French fries</option>
                <option value="Sausage rolls">Sausage rolls</option>
                <option value="Milk shake">Milk shake</option>
                <option value="Coffee">Coffee</option>
            </select>
        </label>
        <br>
        <input class="new-modal-input" id="save-new-btn"  type="submit" value="Save">
        <input class="new-modal-input" id="update-btn"  type="submit" value="Update">
        <input class="new-modal-input" id="cancel-btn"  type="submit" value="Cancel">
    </div>
    <footer>
        <div class="container">
            <p class="social-media"></p>
            <p class="designer-link">
                Designed and Developed by <a href="https://github.com/dmithamo">  dmithamo </a>
            </p>
            <p class="copyright">&copy2018 </p>
        </div>
    </footer>

    <script src="static/liveUI/common_funcs.js"></script>
    <script src="static/liveUI/fetchMenu.js"></script>
    <script src="static/liveUI/adminUpdateMenu.js"></script>
</body>
</html>