body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(34, 34, 34);
    box-sizing: border-box;
}

header, footer {
    font-weight: 700;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}
  
a {
    text-decoration: none;
    color: rgb(73, 72, 72);
    padding: 0.6rem 0;
    transition: all .3s;
}

a:hover, a:active {
    color: rgb(51, 255, 0);
}

#login-link, #register-link {
    color: rgb(0, 68, 255);
    transition: all .3s;
}

#register-link {
    color: white;
    background-color: rgb(16, 135, 247);
}   

#login-link:hover, #login-link:active,  #register-link:hover, #register-link:active {
    color: white;
    background-color: rgb(43, 255, 0);
    border: 2px solid black;

}


section {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#banner {
    text-align: center;
    padding: 1.5rem;
}


#food-items {
    list-style-type: none;
}


.food-item{
    float: left;
}

.item-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(51, 207, 3);
}

figure {
    width: 220px;
    height: 320px;
    border-radius: 2px;
    box-shadow: 4px 3px 20px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
}

figure>img {
    width: 180px;
    height: 180px;
}

figure:hover {
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}

figure {
    transition: all .3s;
}

footer {
    color: rgb(179, 179, 179);
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}


